body {
    background-color: #4a2d26;
}

.footer {
    background-color: #f8f9fa;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #4b2e1e;
  }
  
  nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #ccc;
  }
  